<div class="container">
<h2>Technologies I Know</h2>

<ul>
    <li>Java<i class="fab fa-java"></i></li>
    <li>Spring<i class="fas fa-leaf"></i></li>
    <li>SQL<i class="fas fa-database"></i></li>
    <li>JavaScript<i class="fab fa-js-square"></i></li>
    <li>Angular<i class="fab fa-angular"></i></li>
    <li>Vue.JS<i class="fab fa-vuejs"></i></li>
    <li>HTML 5<i class="fab fa-html5"></i></li>
    <li>CSS 3<i class="fab fa-css3-alt"></i></li>
</ul>

<h2>Want to know more details? Just click on the box</h2>

</div>