<div class="container">
    <h2>O Mnie</h2>
    Cześć, nazywam się Krystian Izdebski i jestem programistą samoukiem w języku java z prawie rocznym praktycznym doświadczeniem w programowaniu. Jeśli chcesz się dowiedzieć <a href="#">co potrafię,</a> lub poznać moje <a href="#">praktyczne doświadczenie</a> kliknij na te linki tutaj, lub na przyciski na górze. Jeśli chcesz się ze mną <a href="#">skontaktować kliknij tutaj</a>. Możesz również zobaczyć moje strony na <a href="#">GitHubie</a> i <a href="#">LinkedIn</a>.
    
</div>