<div class="container">
    <h2>About Me</h2>
    <div class="aboutMe-top">
        Hi, my name is Krystian Izdebski and I'm self-taught java programmer. If You want to know <a href="#">what I learned</a> or about my <a href="#">practical experience</a> please click these links here, or these buttons on the top. If You want to <a href="">contact me just click here.</a>
    </div>
    
    <br><br><br>

    <h3>My History</h3>
    From an early age I was intrested in programming and electronics. In middle school I started my adventure with programming, the first programming language i had contact with was C++. This language let me discover my passion to programming. Knowledge of electronics and programming allowed me to play with AVR microcontrollers which gave me almost unlimied possiblities to create electronic circuits. <br><br>
    
    At the end of middle school I also started programming in Java, currently I have most experience in this leanguage, and around it currently focuses all my learning. I spend almost every free moment to learning and practicing Java and other modern frameworks necesary for creating web applications. My biggest dream is to become a programmer, it will allow me to gain even more knowledge in the field of programming and to gain practical experience.
</div>