<div class="container">
    <h2>About Me</h2>
    <div class="aboutMe-top">
        Hi, my name is Krystian Izdebski and I'm self-taught java programmer with almost a year of practical programming experience. If You want to know <a href="#">what I learned</a> or about my <a href="#">practical experience</a> please click these links here, or these buttons on the top. If You want to <a href="#">contact me just click here</a>. You can also see my <a href="#">GitHub</a> and <a href="#">LinkedIn</a> pages
    </div>
</div>