<ul>
    <li (click) = "changeDetailNumber(1)">Java<i class="fab fa-java"></i></li>
    <li (click) = "changeDetailNumber(2)">Spring<i class="fas fa-leaf"></i></li>
    <li (click) = "changeDetailNumber(8)">Spring Boot<i class="fas fa-power-off"></i></li>
    <li (click) = "changeDetailNumber(8)">Spring Security<i class="fas fa-shield-alt"></i></li>
    <li (click) = "changeDetailNumber(8)">Spring JPA<i class="fas fa-database"></i></li>
    <li (click) = "changeDetailNumber(8)">Spring REST<i class="fas fa-leaf"></i></li>
    <li (click) = "changeDetailNumber(3)">SQL<i class="fas fa-database"></i></li>
    <li (click) = "changeDetailNumber(8)">JUnit<i class="fas fa-vial"></i></li>
    <li (click) = "changeDetailNumber(8)">Mockito<i class="fas fa-vials"></i></li>
    <li (click) = "changeDetailNumber(8)">GitHub<i class="fab fa-github"></i></li>
    <li (click) = "changeDetailNumber(8)">TypeScript<i class="fas fa-code"></i></li>
    <li (click) = "changeDetailNumber(4)">JavaScript<i class="fab fa-js-square"></i></li>
    <li (click) = "changeDetailNumber(5)">Angular<i class="fab fa-angular"></i></li>
    <li (click) = "changeDetailNumber(6)">Vue.JS<i class="fab fa-vuejs"></i></li>
    <li (click) = "changeDetailNumber(7)">HTML 5<i class="fab fa-html5"></i></li>
    <li (click) = "changeDetailNumber(8)">CSS 3<i class="fab fa-css3-alt"></i></li>
    <li (click) = "changeDetailNumber(8)">Eclipse IDE<i class="fas fa-circle"></i></li>
</ul>